@import '../../scss/variables';

// project Liste ---------------
a {
  &.taskItem {
    &:hover {
      text-decoration: none;
      > .card {
        box-shadow: 2px 5px 10px 2px rgba(#222, 0.7);
        transform: scale(1.05);
        transition: all 200ms;
      }
    }
  }
}
.card.card-listTask {
  background: rgba(#fff, 0.3);
  .card-header {
    background: $dark-blue;
    color: #fff;
  }
}
